/*contacto css*/

.titulo-principal__header {
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.texto-secundario {
    font-size: 25px;
    text-align: center;
    margin-left: 55px;
    margin-bottom: 5px;
    text-align: center;
}


label {
    margin-left: 100px;
    text-align: center;
}

.numero-telefono {
    margin-left: 15px;
}

.dudas-contacto {
    margin-left: 25px;
}

form {
    label {
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        display: block;
        margin-bottom: .3rem;
    }
}

.form input[type="submit"] {
    border-radius: 3px;
    background-color: black;
    padding: 0.1;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    cursor: pointer;
    width: 120px;
    font-size: 20px;
    margin-left: 620px;

    &:not([type="submit"]) {
        background-color: transparent;
        padding: .5rem;
        border-radius: 5px;
        border: 1px solid black;
        margin-bottom: 1rem;
        color: black;
        font-size: 20px;
        width: 220px;
        margin-left: 570px;

    }
}

.form .dudasFormu .DudasForm {
    transition: 3s;
}

.dudasFormu .DudasForm:focus {
    width: 220px;
    height: 110px;
    width: 260px;
}