* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: 'Kanit', sans-serif;
}

#header {
  width: 100%;
  background-color: rgba(251, 165, 45, 1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

#header .header-logo {
  color: wheat;
  padding: 10px 20px;
  width: 100%;
  height: auto;
}

#header .header-menu ul {
  display: flex;
  list-style: none;
}

#header .header-menu ul li a {
  text-decoration: none;
  margin: 2px 5px;
  margin-right: 120px;
  background-color: black;
  color: white;
  padding: 12px 15px;
  border-radius: 20px;
  font-size: 20px;
}

#header .header-menu ul li a:hover {
  background-color: orange;
  color: black;
}

.contenedor-gral {
  background-color: whitesmoke;
}

.h1-header{
  font-size: 45px;
  background-color: black;
  color: white;
  height: 70px;
  margin-top: 0px;
}

.h2-index {
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
  height: 51px;
  font-size: 30px;
  margin-top: 50px;
}

.parrafo-index {
  color: white;
  font-size: 31px;
  text-align: center;
  font-weight: bold;
  background-color: black;
}

.direccion {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  margin-top: 20px;
}

.titulo-fotos {
  width: 220px;
  margin-left: 50px;
  height: 280px;
  border: solid 2px black;
  border-radius: 5px;
  background-color: white;
}

h4 {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: -30px;
  margin-top: -7px;
  text-align: center;
  padding: auto;
}

.ver-mas {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;

}

.ver-mas a {
  color: rgba(251, 165, 45, 1);
}

h5 {
  margin-top: 15px;
  font-size: 20px;
  background-color: black;
  color: white;
  height: 35px;
}

.parrafo-footer {
  margin-top: 15px;
  font-size: 20px;
}

.produ1 {
  margin: -5px;
}

.galeria img {
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 5px;
}

.descripcion {
  text-align: center;
}


iframe {
  width: 20%;
  height: auto;
  margin-left: 535px;
  align-items: center;
  margin-top: 20px;
}

.whatsapp {
  position: fixed;
  width: 50px;
  height: 51px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.mi-whatsapp {
  margin-top: 14px;
}

.pie-pagina {
  width: 100%;
  background-color: rgba(251, 165, 45, 1);
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 100px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #FFF;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: black;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: blueviolet;
}

.pie-pagina .grupo-2 {
  background-color: black;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width:800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/*contacto css*/


.titulo-principal__header {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.texto-secundario {
  font-size: 25px;
  text-align: center;
  margin-left: 55px;
  margin-bottom: 5px;
  text-align: center;
}


label {
  margin-left: 100px;
  text-align: center;
}

.numero-telefono {
  margin-left: 15px;
}

.dudas-contacto {
  margin-left: 25px;
}

.form label {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: .3rem;
}

.form input[type="submit"] {
  border-radius: 3px;
  background-color: black;
  padding: 0.1;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  font-size: 20px;
  margin-left: 620px;
}

.form input:not([type="submit"]) {
  background-color: transparent;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 1rem;
  color: black;
  font-size: 20px;
  width: 220px;
  margin-left: 570px;

}

.dudasFormu .DudasForm {
  transition: 3s;
}

.dudasFormu .DudasForm:focus {
  width: 220px;
  height: 110px;
  width: 260px;
}

.nombreContacto {
  margin-left: 0px;
}

/*responsive de contacto mobile*/
@media (max-width:479px) {
  .texto-secundario {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width:479px) {
  .titulo-principal__header {
    font-size: 25px;
    height: 28px;
  }
}

/*Css de catalogo*/
#header .header-menu2 ul {
  display: flex;
  list-style: none;
}

#header .header-menu2 ul li a {
  text-decoration: none;
  margin: 1px 5px;
  margin-right: 100px;
  background-color: black;
  color: white;
  padding: 12px 15px;
  border-radius: 20px;
  font-size: 20px;
}

#header .header-menu2 ul li a:hover {
  background-color: orange;
  color: black;
}

.textoCatalogo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 35px;
  display: block;
  background-color: black;
  margin-bottom: 10px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 355px;
}

table {
  width: 50%;
}

td {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

th,
td {
  font-size: 20px;
  padding: 10px;
}

th {
  background-color: rgba(251, 165, 45, 1);
  text-align: center;
}

.bozal {
  width: 150px;
}

.pretal {
  width: 150px;
}

.hueso {
  width: 150px;
}

.pelota {
  width: 150px;
}

.juguetenudo {
  width: 150px;
}

.transportadora {
  width: 150px;
}

.comedor {
  width: 150px;
}

.comedor-automatico {
  width: 150px;
}

.bandeja {
  width: 150px;
}

.cepillogato {
  width: 150px;
}

.Shampoo {
  width: 150px;
}

.collar {
  width: 150px;
}

.pechera {
  width: 150px;
}

.mochila {
  width: 100px;
  margin-left: 25px;
}

.alimento {
  width: 150px;
}

.alimento1 {
  width: 150px;
}

.alimento2 {
  width: 130px;
}

.footerCatalogo {
  font-size: 10px;
  text-align: center;
}

/*Css de blog*/
#header .header-menu3 ul {
  display: flex;
  list-style: none;
}

#header .header-menu3 ul li a {
  text-decoration: none;
  margin: 1px 5px;
  margin-right: 100px;
  background-color: black;
  color: white;
  padding: 12px 15px;
  border-radius: 20px;
  font-size: 20px;
}

#header .header-menu3 ul li a:hover {
  background-color: orange;
  color: black;
}

h1 {
  text-align: center;
  font-size: 45px;
  background-color: black;
  color: white;
  height: 55px;
}

#galeriaBlog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  width: 850px;
  margin-left: 300px;
  margin-top: 40px;
}

#galeriaBlog img {
  width: 250px;
  height: 300px;
}

.fotos-blog {
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}

.pirotecnia {
  margin-left: 55px;
}

.adaptacion {
  margin-left: 55px;
}

.viaje {
  margin-left: 55px;
}

.ansiedad {
  margin-left: 55px;
}

.bozal {
  margin-left: 40px;
}

.bozal-text {
  text-align: center;
}

.leer-mas {
  color: darkblue;
  text-align: center;
}

/*Css de equipo*/
#header .header-menu4 ul {
  display: flex;
  list-style: none;
}

#header .header-menu4 ul li a {
  text-decoration: none;
  margin: 1px 5px;
  margin-right: 100px;
  background-color: black;
  color: white;
  padding: 12px 15px;
  border-radius: 20px;
  font-size: 20px;
}

#header .header-menu4 ul li a:hover {
  background-color: orange;
  color: black;
}

.Equipo .logo__headerEquipo {
  text-align: center;
}

.titulo-equipo {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.texto-equipo {
  text-align: center;
}

label {
  margin-left: 1px;
  text-align: center;
}

label {
  display: inline;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.form input:not([type="submit"]) {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 1rem;
  color: rgba(251, 165, 45, 1);
  font-size: 20px;
  width: 250px;
  margin-left: 560px;
}

.form input[type="submit"] {
  border-radius: 5px;
  background-color: black;
  padding: 1rem 2rem;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  width: 125px;
  margin-left: 630px;
  margin-bottom: 10px;
}

.form label {
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: .3rem;
  text-align: center;
}

.form {
  margin-top: 2rem;
}

.content p {
  text-align: center;
}

.content h1 {
  text-align: center;
}

input:not(.email-index) {
  display: block;
  border: none;
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.regalo {
  background-color: green;
  color: white;
}

.ahorra {
  background-color: red;
  color: black;
}

/* RESPONSIVE MOBILE*/

@media (max-width:479px) {
  .contenedor-gral {
    width: 100%;
    height: auto;
  }

  #header {
    flex-direction: column;
    height: 50%;
  }

  .header-logo img {
    width: 10px;
  }

  #header .header-logo img {
    width: 100%;
    height: auto;
  }

  #header .header-menu ul li a {
    padding: 1px 10px;
    margin-right: 5px;
    font-size: 15px;
    margin-left: -2px;
  }

  .h1-header {
    font-size: 17px;
    text-align: left;
    height: 39px;
    text-align: center;
  }

  .parrafo-index {
    font-size: 15px;
  }

  .galeria {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    margin-top: 19px;
    align-items: flex;
    margin: 0 auto;
    background-color: whitesmoke;
  }

  .galeria2 {
    width: 100%;
    height: auto;
    display: none;
  }

  .galeria img {
    margin: 1px;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
  }

  .galeria img {
    width: 150px;
    align-items: center;
  }
  .btn-dark {
    width: 107px;
    height: 29px;
    margin-bottom: 6px;
    font-size: 10px;
  }
  .titulo-fotos {
    width: 100%;
    height: 150px;
    margin: auto;
    margin-bottom: 15px;
  }
  .info-foto {
    margin: 0 auto;
  }
  #galeria2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 30px;
    align-items: center;
  }
  .descripcion {
    font-size: 10px;
  }
  .precio-producto {
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
    margin-top: -15px;
    display: block;
  }
  .produ {
    display: block;
    margin-top: -5px;
  }
  .produ1 {
    display: block;
  }
  .regalo {
    font-size: 10px;
  }
  .ahorra {
    font-size: 10px;
  }
  h4 {
    font-size: 12px;
    margin-top: -15px;
  }
  .produ2 {
    margin-top: -25px;
  }
  iframe {
    display: none;
  }
  .ig {
    margin-left: 205px;
  }
  .direccion {
    font-size: 15px;
    text-align: center;
  }
  .h2-index {
    font-size: 15px;
    height: 25px;
    background-color: transparent;
    color: black;
    text-align: center;
  }
  .input-index {
    background-color: transparent;
    text-align: center;
  }
  .parrafo-footer {
    font-size: 10px;
    text-align: center;
  }
  footer {
    font-size: 10px;
    text-align: center;
  }
  footer img {
    width: 50%;
  }
  .fb {
    margin-top: 69px;
  }
  .ig {
    margin-top: 69px;
  }
  .titulo-fotos {
    margin-top: 15px;
    border: solid 2px black;
  }
  footer img {
    width: 150px;
  }
  h1 {
    font-size: 22px;
    height: 25px;
  }
  #galeriaBlog img {
    width: 100px;
    height: 100px;
    border-radius: 25px;
  }
  #galeriaBlog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 439px;
    height: auto;
    gap: 1px;
    margin: 12px auto;
    width: 100%;
  }
  footer img {
    width: 15%;
  }
  #header .header-menu4 ul li a {
    text-decoration: none;
    margin: 1px 5px;
    margin-right: 5px;
    background-color: black;
    color: white;
    padding: 1px 1px;
    border-radius: 8px;
    font-size: 20px;
  }
  .form label {
    font-size: 20px;
  }
  .titulo-equipo {
    font-size: 20px;
  }
  .texto-equipo {
    font-size: 20px;
  }
  #header .logo__header img {
    width: 100%;
    height: auto;
  }
  .form input:not([type="submit"]) {
    margin: 0px auto;
    width: 175px;
    height: 35px;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .form input[type="submit"] {
    margin: 0px auto;
    width: 102px;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .textoCatalogo {
    height: auto;
  }
  table {
    height: auto;
    margin: 0 auto;
  }
  th,
  td {
    font-size: 26px;
    padding: 0;
  }
  .celdas {
    width: 100%;
    height: auto;
  }
  .celdas img {
    width: 52px;
  }
}

@media (min-width:856px) and (max-width:1220px) {
  #header .header-menu ul li a {
    text-decoration: none;
    margin: 2px 5px;
    background-color: black;
    color: white;
    padding: 12px 15px;
    border-radius: 20px;
    font-size: 20px;
  }
}

@media (min-width:768px) and (max-width:856px) {
  #header .header-menu ul li a {
    text-decoration: none;
    margin: 2px 5px;
    background-color: black;
    color: white;
    padding: 12px 5px;
    border-radius: 20px;
    font-size: 20px;
  }
}


@media (max-width:369px) {
  .galeria img {
    margin: 1px;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
  }
}

@media (max-width:369px) {
  .galeria img {
    width: 150px;
    align-items: center;
  }
}

.precio {
  color: black;
  background-color: yellow;
  width: 52px;
  margin: auto;
  margin-top: -18px;
}


@media (max-width:479px) and (min-width:320px) {
  .input-index {
    font-size: 15px;
    height: 20px;
    text-align: center;
  }
}

@media (max-width:430px) {
  .h2-index {
    font-size: 15px;
    height: 25px;
  }
}

@media(max-width:400px) and (min-width:320px) {

  .parrafo-footer,
  .input-index,
  .footer-nombre {
    margin-left: 100px;
  }
}

@media(max-width:479px) and (min-width:320px) {
  label {
    display: none;
  }
}

@media(max-width:400px) {
  h5 {
    font-size: 10px;
    display: flex;
    text-align: center;
  }
}

@media(max-width:400px) {
  .input-index {
    margin-bottom: 55px;
    margin-right: 25px;
  }
}

@media (max-width:363px) {
  input {
    align-items: center;
    margin-left: 5px;
  }
}

@media (max-width:363px) {

  h5,
  .parrafo-footer,
  .input-index,
  .footer-nombre {
    margin-left: 0px;
  }
}

@media (max-width:363px) {
  .ig {
    align-items: center;
    margin-left: 150px;
  }
}

@media (max-width:479px) and (min-width:392px) {
  #header .header-menu3 ul li a {
    margin: 1px 1px;
    padding: 5px 6px;
    font-size: 15px;
  }
  .fotos-blog {
    width: 199px;
    height: 390px;
  }
}

@media (max-width:391px) {
  #header .header-menu3 ul li a {
    margin: 1px 1px;
    padding: 5px 6px;
    font-size: 15px;
  }
}


@media (max-width:419px) {
  .fotos-blog {
    width: 159px;
    height: 480px;
    margin-left: 5px;
  }
  #galeriaBlog img {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    margin-left: 28px;
  }
}


@media (max-width:419px) {
  #galeriaBlog {
    gap: 30px;
  }
}

@media (max-width:370px) {
  p {
    font-size: 16px;
  }
}

@media (max-width:370px) {
  #galeriaBlog {
    gap: 0;
  }
}

@media (max-width:370px) {
  .fotos-blog {
    margin-left: 10px;
  }
}

@media (max-width:419px) {
  #galeriaBlog {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

/*Responsive para tablet */
@media (min-width: 479px) and (max-width: 768px) {
  .contenedor-gral {
    width: 768px;
    height: auto;
  }
  #header {
    flex-direction: column;
    height: 50%;
  }
  .header-logo img {
    width: 100%;
  }
  #header .header-logo img {
    width: 100%;
    height: auto;
  }
  #header .header-menu ul li a {
    padding: 1px 20px;
    margin-right: 45px;
    font-size: 25px;
    margin-left: -2px;
  }
  .h1-header {
    font-size: 30px;
    text-align: left;
    height: 38px;
    text-align: center;
  }
  .parrafo-index {
    font-size: 25px;
  }
  #galeria {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin-top: 19px;
    align-items: center;
    margin-left: 25px;
  }
  #galeria img {
    margin: 18px;
    align-items: center;
    width: 100px;
    margin-left: 35px;
  }
  #galeria img {
    width: 80px;
    margin-top: -2px;
    align-items: center;
    }
    .titulo-fotos {
      width: 180px;
      height: 250px;
      margin-left: 40px;
      margin: 0 auto;
    }
    #galeria2 img {
      width: 70px;
    }
    .info-foto {
      margin: 0 auto;
    }
    #galeria2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      margin: 0 auto;
    }
    .descripcion {
      font-size: 15px;
    }
    .precio-producto {
      margin-left: 5px;
      font-size: 25px;
      text-align: center;
      margin-top: -15px;
      display: block;
    }
    .produ {
      display: block;
      margin-top: -5px;
    }
    .produ1 {
      display: block;
    }
    .regalo {
      font-size: 20px;
    }
    .ahorra {
      font-size: 20px;
    }
    h4 {
      font-size: 17px;
      margin-top: -15px;
    }
    .produ2 {
      margin-top: -25px;
    }
    .ig {
      margin-left: 325px;
    }
    .direccion {
      font-size: 19px;
      text-align: center;
    }
    .h2-index {
      font-size: 25px;
      height: 100%;
      background-color: transparent;
      color: black;
      text-align: center;
      margin: 2 auto;
    }
    h5 {
      font-size: 22px;
      height: 20px;
      background-color: transparent;
      color: black;
      text-align: center;
      margin-left: 00px;
    }
    .input-index {
      font-size: 19px;
      height: 20px;
      background-color: transparent;
    }
    .parrafo-footer {
      font-size: 10px;
      text-align: center;
    }
    footer {
      font-size: 10px;
      text-align: center;
    }
    p.footer-nombre {
      font-size: 15px;
    }
    footer img {
      width: 20%;
    }
    .titulo-fotos {
      margin-top: 15px;
      border: solid 2px black;
    }
    iframe {
      margin-left: 300px;
    }
    /*responsive tablet de blog*/
    #header .header-menu3 ul li a {
      margin: 1px 15px;
      padding: 5px 6px;
      font-size: 25px;
    }
    #galeriaBlog img {
      width: 100px;
      height: 100px;
    }
    #galeriaBlog {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 439px;
      gap: 100px;
      margin: 12px auto;
    }
    .fotos-blog {
      width: 210px;
      height: 390px;
    }
    h1 {
      font-size: 22px;
      height: 22px;
    }
    /*responsive de contacto y equipo*/
}




@media (max-width:395px) {
  #header .header-menu4 ul li a {
    text-decoration: none;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 13px;
  }
}

@media (max-width:353px) {
  #header .header-menu4 ul li a {
    text-decoration: none;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 12px;
  }
}

@media (max-width:301px) {
  #header .header-menu4 ul li a {
    text-decoration: none;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 10px;
  }
}

@media (max-width:304px) {
  .titulo-equipo {
    font-size: 15px;
  }
}

@media (max-width:228px) {
  .titulo-equipo {
    font-size: 12px;
    height: 12px;
  }
}

/*Responsive mobile de catalogo*/


@media (max-width:454px) {

  th,
  td {
    font-size: 22px;
    padding: 0;
  }
}

@media (max-width:382px) {

  th,
  td {
    font-size: 20px;
    padding: 0;
  }
}

@media (max-width:353px) {

  th,
  td {
    font-size: 15px;
    padding: 0;
  }
}

@media (max-width:276px) {
  td {
    font-size: 10px;
  }
  .celdas img {
    width: 40px;
  }
}
/*pirotecnia*/

#header {
  width: 100%;
  background-color: rgba(251, 165, 45, 1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

#header .header-logo {
  color: wheat;
  padding: 10px 20px;
  width: 100%;
  height: auto;
}

#header .header-menu ul {
  display: flex;
  list-style: none;
}

#header .header-menu ul li a {
  text-decoration: none;
  margin: 2px 5px;
  margin-right: 120px;
  background-color: black;
  color: white;
  padding: 12px 15px;
  border-radius: 20px;
  font-size: 20px;
}

#header .header-menu ul li a:hover {
  background-color: orange;
  color: black;
}

.LogoH {
  width: 300px;
  height: 100px;

}

.titulos {
  display: flex;
  justify-content: center;
  margin: auto;
  font-weight: bolder;
  background-color: black;
  color: white;

}
.info-pirotecnia{
  color: black;
  font-size: 35px;
}
.galeria-info {
  display: flex;
  justify-content: center;
}

.galeria-info img {
  width: 70%;
  height: auto;
}

.subtitulos-info {
  display: block;
  align-items: center;
  width: 70%;
  margin: auto;
}

.subtitulos-info {
  font-size: 20px;
  text-align: center;
}
.ContenidoInformatico {
  text-align: center;
  font-size: 35px;
}



